[submodule "deps/Catch2"]
	path = deps/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "deps/glad"]
	path = deps/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/stb"]
	path = deps/stb
	url = https://github.com/nothings/stb
[submodule "deps/argh"]
	path = deps/argh
	url = https://github.com/adishavit/argh.git
